<header class="py-25 border-bottom border-primary border-3">
    <div class="header container-fluid d-flex justify-content-between align-items-center">
        <div class="logo d-flex align-items-center">
            <h1 class="d-flex align-items-center me-5">
                <a class="me-3" href="index.html">
                    <img src="../assets/images/logo.jpg" alt="logo">
                </a>
                <span class="fs-2 me-1">7TAO</span>
                <span class="fw-bold fs-7">活動訂票網</span>
            </h1>
            <form class="d-flex" action="#">
                <input type="email" class="search form-control border border-primary border-2 rounded-0 pt-3 pb-3 ps-4 bg-warm" id="exampleFormControlInput1" placeholder="探索活動">
                <button type="button" class="search-btn btn btn-primary border border-2 border-primary rounded-0">
                    <i class="icofont-search-1 text-secondary fs-7"></i>
                </button>
            </form>
        </div>
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link fs-7" aria-current="page" href="#">
                <i class="icofont-ui-file"></i>
                REGISTER
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-7 pe-0" href="#">
                <i class="icofont-ui-user"></i>
                LOGIN
              </a>
            </li>
        </ul>
    </div>
</header>