.logo {
  img {
    width: 40px;
    @include media-breakpoint-up(sm) {
      width: 53px;
    }
  }
}

form {
  width: 207px;
  background: #000;
  @include media-breakpoint-up(sm) {
      width: 335px;
  }
}

.search {
  color: #878787;
}

.search-icon {
  &:hover {
    color: $secondary;
  }
}

.nav-lk {
  &:hover {
    color: #9C9E18;
  }
}

.hamburger {
  &:hover {
    background: $primary;
    border-radius: 4px;
    span {
      color: $secondary;
    }
  }
}